################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/api-catalogo/.vs
/api-catalogo/api-catalogo/bin/Debug/net8.0
/api-catalogo/api-catalogo/obj/Debug/net8.0/staticwebassets
/api-catalogo/api-catalogo/obj/Debug/net8.0
/api-catalogo/api-catalogo/obj
/web-application-mvc-with-identity-dotnet8/web-application-mvc-identity-dotnet8/web-application-mvc-identity-dotnet8/obj/Debug/net8.0
/web-application-mvc-with-identity-dotnet8/web-application-mvc-identity-dotnet8/web-application-mvc-identity-dotnet8/obj
/.vs/PROJETOS_TESTES/v17
*.json
/web-application-mvc-with-identity-dotnet8/.vs/web-application-mvc-with-identity-dotnet8
/web-application-mvc-with-identity-dotnet8/web-application-mvc-identity-dotnet8/.vs/web-application-mvc-identity-dotnet8/FileContentIndex
/web-application-mvc-with-identity-dotnet8/web-application-mvc-identity-dotnet8/.vs/web-application-mvc-identity-dotnet8/DesignTimeBuild
/web-application-mvc-with-identity-dotnet8/web-application-mvc-identity-dotnet8/.vs/web-application-mvc-identity-dotnet8/v17
